*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;

}
@media screen and (max-width: 600px){

}
    


/* NAVBAR */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 37, 37);
    position: sticky;
    top: 0;
    
}
nav ul{
    display: flex;
    margin: 20px;
    list-style: none;
}

nav ul li{
    font-size: 20px;   
}

nav ul li a{
    text-decoration: none;
    padding: 50px;
    color: #ffffff;

}
nav ul li a:hover{
    color: rgb(238, 219, 219);
    text-shadow: 2px 4px 2px wheat;
}
/*Style HOME  */
#home{
    display: flex;
    flex-direction: column;
    height: 850px;
    z-index: 2;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";
    position: absolute;
    background-image: url('./ms-dhoni-hd.jpg');
    background-size: cover;
    margin-top:0%;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 1;}
    .main{
        border:px solid #ffffff;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left:2%;
        top:45%;
        z-index:-1;
    }
    
    .heading{
        font-family: 'Times New Roman', Times, serif;
        margin: 20px;
        text-align: center;
        color:whitesmoke;
        font-size: 55px;
    }
    .heading1{
        font-family: 'Times New Roman', Times, serif;
        margin: 20px;
        text-align: center;
        color:rgb(17, 17, 17);
        font-size: 40px;
    }
    span{
        color:whitesmoke;
        font-family: 'Times New Roman', Times, serif;
    }
p{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
    /*about*/

#about{
    display: flex;
    flex-direction:column;
    padding: 20px;
    margin-bottom: 50px;
    

}
.p1{
    padding: 10px;
    margin-right: 100;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.pic{
    display: flex;
}
.pic img{
    width: 300px;
    height: 400px;
}
.intro{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    color: black;
    flex-direction: column;
    text-align: justify;
}
#project{
display: flex;
flex-direction: column;
background-color:rgb(241, 146, 160);
align-items: center; 
padding: 10px;

}

.Gallery{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.Gallery img{
display: flex;
width: 250px;
height: 250px;
margin:10px;
margin-left: 20px;
border:none;
transform: scale (0.5s);

} 
.Gallery img:hover{

width: 280px;
height: 280px;

box-shadow: 3px 5px 6px 4PX rgb(30, 30, 30);
border-radius:1%;
margin: 10px;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul li{
    text-align: start;
}

#Services{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: black;
    align-content: flex-start;
    background-image:url(./5604775-modified.webp);
    text-decoration: none;
}
.p3{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    color: rgb(246, 237, 237);
    flex-direction: column;
    
    text-align: left;
    background-image:url('./5604775-modified.webp');
}
h2{
    text-decoration: none;
}
h1{
    text-align: center;
}
.row{
    display: flex;
}
.box{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 800px;
    height: 200px;
    border:4px ridge rgb(232, 224, 224);
    margin: 10px;
    padding: 20px;
    text-align: start;
    border-radius: 15px;
    background-color: rgb(242, 240, 236);
    background: linear-gradient( to top, rgb(234, 232, 232)50%, whitesmoke);
    background-size: 100% 200%;
    transition: all 0.8s;
    cursor: pointer;
    text-decoration: none;
}
.box:hover{
    background-position: left bottom;
    color: rgb(27, 12, 6);
    box-shadow: 0 0 20px rgb(248, 242, 243);
    border: none;
    
}
.box img{
    width: 250px;
    height:250px;
}
.Videos{
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-image: url(./5604775-modified.webp);
    
}

.Videos iframe{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin:10px;
    margin-left: 20px;
    border:none; 
    text-align: center;
    transition: ease;
    flex-direction: column;
    transform: scale(0.3s);
    
    } 
    
        .Videos iframe:hover{
    box-shadow: 0 0 20px rgb(247, 245, 245);
    border: none;
    border-radius: 5%;
    margin: 10px;


        }
    
        * {
            box-sizing: border-box;
          }
          
          /* Style inputs */
          input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border:none solid #ccc;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
          }
          
          input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            cursor: pointer;
          }
          
          input[type=submit]:hover {
            background-color: #45a049;
          }
          
          /* Style the container/contact section */
          .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 10px;
          }
          
          /* Create two columns that float next to eachother */
          .column {
            float: left;
            width: 50%;
            margin-top: 6px;
            padding: 20px;
          }
          
          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          
          /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
          @media screen and (max-width: 600px) {
            .column, input[type=submit] {
              width: 100%;
              margin-top: 0;
            }
          }
          body{
            margin:0;
            overflow-x:hidden;
            }
            
            .footer{
            display: flex;
            margin-top: 0px;
            background:#100f0fc7;
            height: 2px;
            padding:0.8px 300px;
            font-family: 'Play', sans-serif;
            text-align:center;
            }
            
            .footer .row{
            display: flex;
            width:100%;
            height: 12px;
            margin:1% 0%;
            padding: 0%;
            color:black;
            font-size:1em;
            }
            
            .footer .row a{
                display: flex;    
            text-decoration:none;
            color:rgb(10, 10, 10);
            transition:0.7s;
            margin-left: 20px;
            }
            
            .footer .row a:hover{
            color:#f32a2a;
            }
            
            .footer .row ul{
            width:100%;
            margin-left: 10px;
            }
            
            .footer .row ul li{
            display:inline-block;
            margin:2px 30px;
            margin-left: 20px;
            }
            
            .footer .row a i{
            font-size:2em;
            margin:10% 1%;
            margin-left: 20px;
            margin-left: 20px;
            }
            
            @media (max-width:720px){
            .footer{
            text-align:left;
            padding:5%;
            }
            .footer .row ul li{
            display:block;
            margin:10px 0px;
            text-align:left;
            }
            .footer .row a i{
            margin:0% 3%;
            }
            }
        

